li {
  cursor: pointer;
  text-decoration: none;
  font-size: 26px;
  list-style: none;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.completed {
  text-decoration: line-through;
  color: rgb(255, 255, 255);
  user-select: none;
}

li button {
  margin-left: 10px;
}

.react-icons {
  background-color: white;
  color: white;
}
